version: "3.7"
services:
    app:
        # image: symfony-app:local
        volumes:
            - .:/var/www

    web:
        # image: symfony-web:local
        volumes:
            - ./public:/var/www/public
